@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css" rel="stylesheet" />
    <link href="~/Content/css/site-responsive.css" rel="stylesheet" />
    <link href="~/Content/css/admin-responsive.css" rel="stylesheet" />
    @RenderSection("css", false)
}
@section javascript {
    <script src="~/Content/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/js/jquery.scrollTo.js"></script>
    <script src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/js/common-scripts.js"></script>
    <script src="~/Content/js/log.js"></script>
    <script src="~/Content/js/framework.js"></script>
    @RenderSection("Javascript", false)
}
<section>
    @RenderSection("header", false)
    @RenderSection("navigator", false)
    <section id="main-content" class="main-content">
        @RenderBody()
    </section>
    @Html.Partial("Footer")
</section>
@RenderSection("modal", false)