@{
    ViewBag.Title = "后台管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/site-responsive.css" rel="stylesheet" />
    <link href="~/Content/css/fix.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css" rel="stylesheet" />
    @RenderSection("css", false)
}
@section javascript {
    <script src="~/Content/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/js/jquery.scrollTo.js"></script>
    <script src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/js/common-scripts.js"></script>
    <script src="~/Content/js/framework.js"></script>
    @RenderSection("Javascript", false)
}
<section id="container">
    @RenderSection("header", false)
    @RenderSection("navigator", false)
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </section>
    </section>

    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2016 © 红云红河集团.
            <a href="#" class="go-top tooltips" data-placement="left" data-original-title="返回顶部">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>
@RenderSection("modal", false)
@RenderSection("roleModal", false)
