@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@section css {
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/nprogress.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/site-responsive.css" rel="stylesheet" />
    @RenderSection("css", false)
}
@section javascript {
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/nprogress.js"></script>
    <script src="~/js/Longbow.Common.js"></script>
    @RenderSection("Javascript", false)
}
<a id="pathBase" href="~/" class="hidden"></a>
@Html.Partial("Header")
@RenderBody()
@Html.Partial("Footer")
@RenderSection("modal", false)