@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/site-responsive.css" rel="stylesheet" />
    @RenderSection("css", false)
}
@section javascript {
    <script src="~/Content/js/framework.js"></script>
    @RenderSection("Javascript", false)
}
<section id="container">
    @RenderSection("header", false)
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </section>
    </section>
    @Html.Partial("Footer")
</section>
@RenderSection("modal", false)