@model HeaderBarModel
<!--header start-->
<header class="header white-bg">
    <a id="navbar" href="#" class="sidebar-toggle-box">
        <i class="fa fa-bars"></i>
        <!--logo start-->
        <span>@Model.Title</span>
    </a>
    <!--logo end-->
    @if (Model.Menus.Count() > 0 && Model.ShowMenu)
    {
        <ul class="dropdown-menu menu">
            <div class="arrow-up"></div>
            <li>
                <div class="menu-submenu">
                    @foreach (var menu in Model.Menus)
                    {
                        @Html.Partial("SubMenu", menu)
                    }
                </div>
            </li>
        </ul>
    }
    @if (!Model.ShowMenu)
    {
    <!--  notification start -->
        <ul class="notify-row">
            <!-- settings start -->
            @if (Model.TaskCount > 0)
            {
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-success">@Model.TaskCount</span>
                    </a>
                    <ul class="dropdown-menu tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p>您有 @Model.TaskCount 个未读的消息</p>
                        </li>
                        @foreach (var task in Model.Tasks)
                        {
                            var TaskProgress = task.TaskProgress * 100;
                            <li>
                                <a href="~/Admin/Tasks?id=@task.ID">
                                    <div>
                                        <div class="desc">@task.TaskName</div>
                                        <div class="percent">@TaskProgress%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@TaskProgress" aria-valuemin="0" aria-valuemax="100" style="width: @TaskProgress%">
                                            <span class="sr-only">@TaskProgress% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                        <li>
                            <a href="~/Admin/Tasks">查看所有消息</a>
                        </li>
                    </ul>
                </li>
            }
            <!-- settings end -->
            <!-- message dropdown start-->
            @if (Model.MessageCount > 0)
            {
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-important">@Model.MessageCount</span>
                    </a>
                    <ul class="dropdown-menu inbox">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p>您有 @Model.MessageCount 个未读的消息</p>
                        </li>
                        @foreach (var mess in Model.Messages)
                        {
                            <li>
                                <a href="~/Admin/Messages?id=@mess.ID">
                                    <span class="photo"><img alt="avatar" src="~/content/images/logo6.jpg"></span>
                                    <span class="subject">
                                        <span class="from">@mess.From</span>
                                        <span class="time">@mess.Period</span>
                                    </span>
                                    <span class="message">@mess.Title</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a href="~/Admin/Messages">查看所有消息</a>
                        </li>
                    </ul>
                </li>
            }
            <!-- message dropdown end -->
            <!-- notification dropdown start-->
            @if (Model.NotifiCount > 0)
            {
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">@Model.NotifiCount</span>
                    </a>
                    <ul class="dropdown-menu notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p>您有 @Model.NotifiCount 条新通知</p>
                        </li>
                        @foreach (var noti in Model.Notifications)
                        {
                            <li>
                                <a href="~/Admin/Notifications?id=@noti.ID&category=@noti.Category">
                                    @if (noti.Category == "0")
                                    {
                                        <span class="label label-success"><i class="fa fa-plus"></i></span><div>@noti.Content</div><span class="small italic">@noti.Period</span>
                                    }
                                    else if (noti.Category == "1")
                                    {
                                        <span class="label label-warning"><i class="fa fa-bell"></i></span><div>@noti.Content</div><span class="small italic">@noti.Period</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span><div>@noti.Content</div><span class="small italic">@noti.Period</span>
                                    }
                                </a>
                            </li>
                        }
                        <li>
                            <a href="~/Admin/Notifications">查看所有通知</a>
                        </li>
                    </ul>
                </li>
            }
            <!-- notification dropdown end -->
        </ul>
    <!--  notification end -->
    }
    <!--search & user info start-->
    <ul class="pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder="搜索">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img id="headerIcon" alt="" src="@Url.Content(Model.Icon)">
                <span id="userDisplayName" class="username">@Model.DisplayName</span>
                <b class="caret"></b>
                <input id="userId" type="text" class="hidden" value="@Model.UserID" />
            </a>
            <ul class="dropdown-menu logout">
                <div class="arrow-up"></div>
                <li><a href="~/Admin/Infos"><i class=" fa fa-suitcase"></i>个人中心</a></li>
                <li><a href="~/Admin/Index"><i class="fa fa-cog"></i>设置</a></li>
                <li><a href="~/Admin/Notifications"><i class="fa fa-bell"></i>通知<span class="badge bg-success">@Model.NotifiCount</span></a></li>
                <li><a href="~/Home/Logout"><i class="fa fa-key"></i>注销</a></li>
            </ul>
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!--search & user info end-->
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="@Url.Content(Model.HomeUrl)"><i class="fa fa-home"></i>首页</a></li>
        <li></li>
    </ul>
    <!--breadcrumbs end -->
    <input id="footer" type="text" class="hidden" value="@Model.Footer" />
</header>
<!--header end-->
