@model NavigatorBarModel
<aside>
    <div id="sidebar" class="nav-collapse sidebar">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            @foreach (var menu in Model.Navigations)
            {
                <li class="sub-menu">
                    <a href="@Url.Content(menu.Url)" class="@menu.Active"><i class="@menu.Icon"></i>@menu.Name</a>
                    @if (menu.Menus.Count() > 0)
                    {
                        @Html.Partial("SubNavigation", menu.Menus)
                    }
                </li>
            }
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>