@model Menu
<li class="sub-menu">
    <a href="@Url.Content(Model.Url)" class="@Model.Active" target="@Model.Target"><i class="@Model.Icon"></i>@Model.Name</a>
    @if (Model.Menus.Count() > 0)
    {
        @Html.Partial("SubNavigation", Model.Menus)
    }
</li>