@model Bootstrap.Security.BootstrapMenu
@if(Model.Menus.Any()) 
{
    if(@Model.Active == "active")
    {
        <li class="nav-item has-treeview menu-open">
            @await Html.PartialAsync("SubNavItemLink", Model)
        </li>
    }
    else 
    {
        <li class="nav-item has-treeview">
            @await Html.PartialAsync("SubNavItemLink", Model)
        </li>
    }
}
else 
{
    <li class="nav-item">
        <a href="@Url.Content(Model.Url)" class="nav-link @Model.Active" target="@Model.Target"><i class="@Model.Icon"></i><span class="flex-fill">@Model.Name</span></a>
    </li>
}