@model NavigatorBarModel
@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section css {
    <link href="~/Content/fa.css" rel="stylesheet" />
    <link href="~/Content/jquery.nestable.css" rel="stylesheet" />
}
@section Javascript {
    <script src="~/Scripts/jquery.nestable.js"></script>
    <script src="~/scripts/Menus.js"></script>
}
@section query {
    <form class="form-inline" role="form">
        <div class="row">
            <div class="form-group col-sm-6 col-md-3">
                <label class="control-label" for="txt_menus_name">菜单名称</label>
                <input type="text" class="form-control" id="txt_menus_name" />
            </div>
            <div class="form-group col-sm-6 col-md-3">
                <label class="control-label" for="txt_parent_menus_name">父级菜单</label>
                <input type="text" class="form-control" id="txt_parent_menus_name" />
            </div>
            <div class="form-group col-sm-6 col-md-2">
                <label class="control-label" for="sel_menus_category">菜单类别</label>
                <div class="dropdown lgbDropdown">
                    <a id="sel_menus_category" class="btn btn-success" data-toggle="dropdown">
                        <span>全部</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-val="">全部</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-val="0">系统菜单</a></li>
                        <li><a href="#" data-val="1">外部菜单</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-2">
                <label class="control-label" for="sel_menus_category">菜单类型</label>
                <div class="dropdown lgbDropdown">
                    <a id="sel_menus_res" class="btn btn-success" data-toggle="dropdown">
                        <span>全部</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-val="">全部</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-val="0">菜单</a></li>
                        <li><a href="#" data-val="1">资源</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-1">
                <button type="button" id="btn_query" class="btn btn-primary form-control"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
            </div>
        </div>
    </form>
}
@section toolbar {
    <button id="btn_assignRole" type="button" class="btn btn-info">
        <span class="fa fa-sitemap" aria-hidden="true"></span><span class="hidden-tb">指派角色</span>
    </button>
    <div class="toolbar btn-group dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><i class="fa fa-gear"></i></button>
        <div class="dropdown-menu">
            @Html.Partial("_ButtonBarGroup")
            <a id="tb_assignRole" href="#" title="指派角色"><i class="fa fa-sitemap"></i></a>
        </div>
    </div>
}
@section modal {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">菜单编辑窗口</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline" id="dataForm" name="dataForm" role="form">
            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control hidden" id="menuID" name="menuID" />
                    <label class="control-label" for="name">菜单名称</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="不可为空，50字以内" maxlength="50" />
                        <span class="input-group-btn">
                            <button data-method="clear" class="btn btn-default" type="button"><i class="fa fa-remove"></i></button>
                            <button data-method="sel" class="btn btn-default" type="button"><i class="fa fa-edit"></i>全选</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control hidden" id="parentId" name="parentId" />
                    <label class="control-label" for="parentName">父级菜单</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly id="parentName" name="parentName" placeholder="请选择...(可为空)，50字以内" maxlength="50" />
                        <span class="input-group-btn">
                            <button data-method="clear" class="btn btn-default" type="button"><i class="fa fa-remove"></i></button>
                            <button id="btnMenuParent" class="btn btn-default" type="button"><i class="fa fa-hand-o-up"></i>选择</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="order">菜单序号</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="order" name="order" data-default-val="10" placeholder="默认为10" maxlength="8" />
                        <span class="input-group-btn">
                            <button data-method="clear" class="btn btn-default" type="button"><i class="fa fa-remove"></i></button>
                            <button id="btnMenuOrder" class="btn btn-default" type="button"><i class="fa fa-list-ol"></i>调整</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="icon">菜单图标</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly id="icon" name="icon" data-default-val="fa fa-fa" placeholder="请选择...(可为空)，50字以内" maxlength="50" />
                        <span class="input-group-btn">
                            <button data-method="clear" class="btn btn-default" type="button"><i class="fa fa-remove"></i></button>
                            <button id="btnIcon" class="btn btn-default" type="button"><i class="fa fa-dashboard"></i>选择</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="url">路径</label>
                    <input type="text" class="form-control form-control-url" id="url" name="url" placeholder="不可为空，4000字以内" maxlength="4000" />
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label class="control-label" for="category">菜单类别</label>
                    <div class="dropdown lgbDropdown dropup">
                        <a id="category" class="btn btn-success" data-toggle="dropdown" data-default-val="1">
                            <span>外部菜单</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-val="0">系统菜单</a></li>
                            <li><a href="#" data-val="1">外部菜单</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label class="control-label" for="target">目标</label>
                    <div class="dropdown lgbDropdown dropup">
                        <a id="target" class="btn btn-info" data-toggle="dropdown" data-default-val="_self">
                            <span>本窗口</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-val="_self">本窗口</a></li>
                            <li><a href="#" data-val="_blank">新窗口</a></li>
                            <li><a href="#" data-val="_parent">父级窗口</a></li>
                            <li><a href="#" data-val="_top">顶级窗口</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label class="control-label" for="isRes">菜单类型</label>
                    <div class="dropdown lgbDropdown dropup">
                        <a id="isRes" class="btn btn-success" data-toggle="dropdown" data-default-val="0">
                            <span>菜单</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-val="0">菜单</a></li>
                            <li><a href="#" data-val="1">资源</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label class="control-label" for="app">所属应用</label>
                    <div class="dropdown lgbDropdown dropup">
                        <a id="app" class="btn btn-info" data-toggle="dropdown" data-default-val="0">
                            <span>未设置</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var kv in Model.Applications)
                            {
                                <li><a href="#" data-val="@kv.Key">@kv.Value</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
@section customModal {
    @Html.Partial("RoleConfig")
    <div id="dialogIcon" class="modal-content icon-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myIconModalLabel">请选择图标</h4>
        </div>
        <div class="modal-body" data-spy="scroll" data-target=".fa-nav">
            <div class="loadIconView"><i class="fa fa-spinner fa-pulse"></i><span>正在加载图标...请稍等</span></div>
        </div>
        <div class="modal-footer">
            <span>被选择的图标</span><i id="pickIcon"></i>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="btnSubmitIcon">保存</button>
        </div>
    </div>
    @Html.Partial("MenuTree")
}
