@model NavigatorBarModel
@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section css {
    <link href="~/Content/css/fa.css" rel="stylesheet" />
    <link href="~/Content/css/fa.responsive.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.nestable.css" rel="stylesheet" />
}
@section Javascript {
    <script src="~/Content/js/jquery.nestable.js"></script>
    <script src="~/scripts/Menus.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
@section query {
    <form class="form-inline" role="form">
        <div class="form-group col-lg-5">
            <label class="control-label" for="txt_menus_name">菜单名称</label>
            <input type="text" class="form-control" id="txt_menus_name" />
        </div>
        <div class="form-group col-lg-5">
            <label class="control-label" for="txt_menus_category">菜单类别</label>
            <input type="text" class="form-control hide" id="txt_menus_category" />
            <div class="btn-group">
                <button type="button" class="btn btn-default">未选择</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">下拉按钮</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-val="">未选择</a></li>
                    <li><a href="#" data-val="0">系统菜单</a></li>
                    <li><a href="#" data-val="1">自定义菜单</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group col-lg-2">
            <button type="button" id="btn_query" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询</button>
        </div>
    </form>
}
@section toolbar {
    <button id="btn_assignRole" type="button" class="btn btn-info">
        <span class="fa fa-sitemap" aria-hidden="true"></span>指派角色
    </button>
}
@section modal {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">菜单编辑窗口</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline" id="dataForm" name="dataForm" role="form">
            <div class="form-group col-lg-6">
                <label class="control-label" for="parentId">父级菜单</label>
                <div class="input-group">
                    <input type="text" class="form-control hide" id="parentId" name="parentId" />
                    <input type="text" class="form-control disabled" disabled id="parentName" />
                    <span class="input-group-btn">
                        <button id="btnMenuParent" class="btn btn-default" type="button">选择</button>
                    </span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label" for="name">菜单名称</label>
                <input type="text" class="form-control" id="name" name="name" maxlength="50" />
                <input type="text" class="form-control hide" id="menuID" name="menuID" />
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label" for="icon">菜单图标</label>
                <div class="input-group">
                    <input type="text" class="form-control disabled" disabled id="icon" name="icon" maxlength="50" />
                    <span class="input-group-btn">
                        <button id="btnIcon" class="btn btn-default" type="button">选择</button>
                    </span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label" for="url">路径</label>
                <input type="text" class="form-control" id="url" name="url" maxlength="50" />
            </div>           
            <div class="form-group col-lg-6">
                <label class="control-label" for="order">菜单序号</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="order" name="order" />
                    <span class="input-group-btn">
                        <button id="btnMenuOrder" class="btn btn-default" type="button">调整</button>
                    </span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label" for="category">类别</label>
                <!-- Split button -->
                <input type="text" class="form-control hide" id="category" name="category" value="1" />
                <div class="btn-group">
                    <button type="button" class="btn btn-default">自定义菜单</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">下拉按钮</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-val="0">系统菜单</a></li>
                        <li><a href="#" data-val="1">自定义菜单</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
}
@section customModal {
    @Html.Partial("RoleConfig")
    @Html.Partial("IconView")
    @Html.Partial("MenuTree", Model.Menus)
}
