@model NavigatorBarModel
@{
    ViewBag.Title = "网站设置";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section Javascript {
    <script src="~/content/js/longbow.dataentity.js"></script>
    <script src="~/content/js/sweetalert.js"></script>
    <script src="~/content/js/jquery.validate.js"></script>
    <script src="~/content/js/messages_zh.js"></script>
    <script src="~/Scripts/Profiles.js"></script>
}
@section css {
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/tasks.css" rel="stylesheet" />
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
<div class="panel panel-default">
    <div class="panel-heading">系统名称设置</div>
    <div class="panel-body">
        <form id="headerDataForm" name="headerDataForm">
            <div class="input-group form-group col-xs-12">
                <input type="text" class="form-control" id="sysName" name="sysName" placeholder="请输入网站标题" value="@Model.Title" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="sysSave">保存</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">页脚设置</div>
    <div class="panel-body">
        <form id="footerDataForm" name="footerDataForm">
            <div class="input-group form-group col-xs-12">
                <input type="text" class="form-control" id="sysFoot" name="sysFoot" placeholder="请输入网站页脚" value="@Model.Footer" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="footSave">保存</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">网站样式</div>
    <div class="panel-body">
        <form id="CssDataForm" class="form-inline" name="CssDataForm">
            <div class="form-group col-xs-12">
                <label class="control-label" for="dictDefine">网站样式</label>
                <div class="btn-group btn-select">
                    <button id="dictCssDefine" type="button" class="btn btn-success" data-default-val="site.css" data-val="site.css">默认样式</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">网站样式</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="cssContainer">
                        <li><a href="#" data-val="site.css">默认样式</a></li>
                    </ul>
                </div>
                <button class="btn btn-default pull-right" type="button" id="cssSave">保存</button>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">网站缓存<a id="clearCache" href="#" class="clearcache fa fa-times-circle-o" data-admin="@LgbPrincipal.IsAdmin(Model.UserName)" title="全部清除(WebAdmin可用)"></a><a id="refreshCache" href="#" class="pull-right fa fa-refresh" title="点击刷新"></a></div>
    <div class="panel-body">
        <div class="tasks-widget">
            <ul id="sortable" class="task-list ui-sortable"></ul>
        </div>
    </div>
</div>