@model ThemeModel
@{
    ViewBag.Title = "网站设置";
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/validate/jquery.validate.js"></script>
        <script src="~/lib/validate/localization/messages_zh.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/validate/localization/messages_zh.min.js"></script>
    </environment>
    <script src="~/lib/longbow/longbow.dataentity.js"></script>
    <script src="~/lib/longbow/longbow.validate.js"></script>
    <script src="~/js/settings.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header">系统名称设置</div>
    <div class="card-body" data-toggle="LgbValidate" data-valid-button="#sysSave">
        <div class="alert alert-danger" role="alert" asp-condition="@Model.IsDemo">
            <span>演示系统禁止更改系统名称</span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="sysName" placeholder="请输入网站标题，50字以内" value="@Model.Title" maxlength="50" data-valid="true" />
                <div class="input-group-append" asp-condition="!@Model.IsDemo">
                    <button class="btn btn-secondary" type="button" data-method="title" asp-auth="saveTitle">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">页脚设置</div>
    <div class="card-body" data-toggle="LgbValidate" data-valid-button="#footSave">
        <div class="alert alert-danger" role="alert" asp-condition="@Model.IsDemo">
            <span>演示系统禁止更改页脚</span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="sysFoot" placeholder="请输入网站页脚，50字以内" value="@Model.Footer" maxlength="50" data-valid="true" />
                <div class="input-group-append" asp-condition="!@Model.IsDemo">
                    <button class="btn btn-secondary" type="button" data-method="footer" asp-auth="saveFooter">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">网站样式</div>
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            <span>注意：<b><a class="badge-pill" href="./Profiles">个人中心</a></b>中设置的网站样式覆盖本设置</span>
        </div>
        <div class="form-group text-right">
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button id="dictCssDefine" class="btn btn-success dropdown-select dropdown-toggle" data-toggle="dropdown" data-default-val="" value="@Model.Theme">默认样式</button>
                    <div class="dropdown-menu">
                        <a href="#" data-val="">默认样式</a>
                        @foreach (var css in Model.Themes)
                        {
                            <a href="#" data-val="@css.Code">@css.Name</a>
                        }
                    </div>
                </div>
                <button class="btn btn-secondary" type="button" data-method="css" asp-auth="saveTheme">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <span class="flex-fill">网站缓存</span>
            <a data-method="clear" href="#" class="fa fa-times-circle-o" title="全部清除" data-toggle="tooltip" data-placement="left" asp-auth="clearAllCache"></a>
            <a data-method="refresh" href="#" class="fa fa-refresh ml-3" title="点击刷新" data-toggle="tooltip"></a>
        </div>
    </div>
    <div class="card-body" id="sortable">
    </div>
</div>