@model ThemeModel
@{
    ViewBag.Title = "网站设置";
    Layout = "_Admin";
}
@section javascript {
    <environment include="Development">
        <script src="~/js/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/js/messages_zh.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/js/messages_zh.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/longbow.dataentity.js" asp-append-version="true"></script>
    <script src="~/js/longbow.validate.js" asp-append-version="true"></script>
    <script src="~/js/settings.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header">系统名称设置</div>
    <div class="card-body" data-toggle="LgbValidate" data-valid-button="#sysSave">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="sysName" placeholder="请输入网站标题，50字以内" value="@Model.Title" maxlength="50" data-valid="true" />
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" data-method="title">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">页脚设置</div>
    <div class="card-body" data-toggle="LgbValidate" data-valid-button="#footSave">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="sysFoot" placeholder="请输入网站页脚，50字以内" value="@Model.Footer" maxlength="50" data-valid="true" />
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" data-method="footer">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">网站样式</div>
    <div class="card-body">
        <div class="form-group text-right">
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button id="dictCssDefine" class="btn btn-success dropdown-select dropdown-toggle" data-toggle="dropdown" data-default-val="" value="@Model.Theme">默认样式</button>
                    <div class="dropdown-menu">
                        <a href="#" data-val="">默认样式</a>
                        @foreach (var css in Model.Themes)
                        {
                            <a href="#" data-val="@css.Code">@css.Name</a>
                        }
                    </div>
                </div>
                <button class="btn btn-secondary" type="button" data-method="css">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <span class="flex-fill">网站缓存</span>
            <a data-method="clear" href="#" class="fa fa-times-circle-o" data-admin="@User.IsInRole("Administrators")" title="全部清除" data-toggle="tooltip" data-placement="left"></a>
            <a data-method="refresh" href="#" class="fa fa-refresh ml-3" title="点击刷新" data-toggle="tooltip"></a>
        </div>
    </div>
    <div class="card-body" id="sortable">
    </div>
</div>