@model NavigatorBarModel
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section Javascript {
    <script src="~/scripts/Users.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
@section query {
    <form class="form-inline" role="form">
        <div class="row">
            <div class="form-group col-lg-5">
                <label class="control-label" for="txt_search_name">登陆名称</label>
                <input type="text" class="form-control" id="txt_search_name" />
            </div>
            <div class="form-group col-lg-5">
                <label class="control-label" for="txt_display_name">显示名称</label>
                <input type="text" class="form-control" id="txt_display_name" />
            </div>
            <div class="form-group col-lg-2">
                <button type="button" id="btn_query" class="btn btn-primary form-control"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
            </div>
        </div>
    </form>
    <input id="userId" type="text" class="hidden" value="@Model.UserID" />
}
@section toolbar {
    <button id="btn_assignRole" type="button" class="btn btn-info">
        <span class="fa fa-sitemap" aria-hidden="true"></span><span class="hidden-tb">指派角色</span>
    </button>
    <button id="btn_assignGroup" type="button" class="btn btn-info">
        <span class="fa fa-bank" aria-hidden="true"></span><span class="hidden-tb">指派部门</span>
    </button>
    <div class="toolbar btn-group dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><i class="fa fa-gear"></i></button>
        <div class="dropdown-menu">
            @Html.Partial("_ButtonBarGroup")
            <a id="tb_assignRole" href="#" title="指派角色"><i class="fa fa-sitemap"></i></a>
            <a id="tb_assignGroup" href="#" title="指派部门"><i class="fa fa-bank"></i></a>
        </div>
    </div>
}
@section modal {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">用户编辑窗口</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline" id="dataForm" name="dataForm" role="form">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="control-label" for="userName">登陆名称</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="不可为空" maxlength="50" />
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control hidden" id="userID" name="userID" />
                    <label class="control-label" for="userName">显示名称</label>
                    <input type="text" class="form-control" id="displayName" name="displayName" placeholder="不可为空" maxlength="50" />
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label" for="password">登录密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="不可为空" maxlength="15" />
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label" for="confirm">确认密码</label>
                    <input type="password" class="form-control" id="confirm" name="confirm" placeholder="与登陆密码一致" maxlength="15" />
                </div>
            </div>
        </form>
    </div>
}
@section customModal {
    @Html.Partial("RoleConfig")
    @Html.Partial("GroupConfig")
}
