@model IEnumerable<Bootstrap.Security.BootstrapMenu>
<div class="dropdown-menu">
    @foreach (var menu in Model)
    {
        <a href="@Url.Content(menu.Url)" class="dropdown-item @menu.Active" target="@menu.Target"><i class="@menu.Icon"></i><span>@menu.Name</span></a>
    }
</div>