@model NavigatorBarModel
<aside class="@Model.ShowSideBar">
    <div class="bg"></div>
    <div class="nav-brand justify-content-center">
        <a href="#">
            <img src="" />
            <span>@Model.Title</span>
        </a>
    </div>
    <div class="nav-header flex-fill align-items-center">
        <a href="@Model.ProfilesUrl">
            <img src="@Url.Content(Model.Icon)" />
            <span class="username d-inline-block text-truncate font-weight-bold flex-fill">@Model.DisplayName</span>
        </a>
    </div>
    <!-- sidebar menu start-->
    <div class="sidebar">
        <ul class="nav-sidebar nav nav-pills flex-column flex-nowrap">
            @foreach (var menu in Model.Navigations)
            {
                @await Html.PartialAsync("SubNavItem", menu)
            }
        </ul>
    </div>
    <!-- sidebar menu end-->
</aside>