@typeparam TItem
@inherits LgbInputBase<TItem>

<div class="@($"form-group {ColumnClass}")">
    <label class="control-label" for="@Id">@DisplayName</label>
    <input Id="@Id" data-original-title="@ErrorMessage" class="@($"form-control {CssClass} {ValidCss}")" placeholder="@PlaceHolder" maxlength=@MaxLength type="@InputType" value="@BindConverter.FormatValue(CurrentValue)" @oninput="EventCallback.Factory.CreateBinder<string>(this, __value => CurrentValueAsString = __value, CurrentValueAsString ?? string.Empty)" />
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
