@typeparam TItem
@inherits SelectBase<TItem>

<div class="@($"form-group {ColumnClass}")">
    <label class="control-label" for="@Id">@DisplayName</label>
    <div data-toggle="lgbSelect" class="@(Disabled ? "form-select dropdown is-disabled" : "form-select dropdown")">
        @if(Disabled) 
        {
            <input type="text" readonly="readonly" class="form-control form-select-input" disabled id="@Id" data-toggle="dropdown" placeholder="@PlaceHolder" value="@SelectedItem.Text" />
        }
        else 
        {
            <input type="text" readonly="readonly" class="form-control form-select-input" id="@Id" data-toggle="dropdown" placeholder="@PlaceHolder" value="@SelectedItem.Text" />
        }
        <span class="form-select-append"><i class="fa fa-angle-up"></i></span>
        <div class="dropdown-menu-arrow"></div>
        <div class="dropdown-menu">
            @foreach (var item in Items)
            {
                <SelectItem Item="@item" ItemClickCallback="ItemClickCallback"></SelectItem>
            }
        </div>
    </div>
</div>

@code {

}
