@inherits SQLBase

<div class="card">
    <div class="card-header">
        <span>查询结果</span>
    </div>
    <div class="card-body">
        <Table Id="sql" TItem="Bootstrap.DataAccess.DBLog" ShowToolBar="true" ShowSearch="true" ShowRefresh="true" QueryModel="QueryModel" EditModel="DataContext" OnQuery="Query" OnResetSearch="ResetSearch">
            <TableHeader>
                <LgbTableHeader TItem="string" @bind-Value="@context.UserName" class="text-nowrap"></LgbTableHeader>
                <LgbTableHeader TItem="DateTime" @bind-Value="@context.LogTime" class="text-nowrap datetime"></LgbTableHeader>
                <LgbTableHeader TItem="string" @bind-Value="@context.SQL"></LgbTableHeader>
            </TableHeader>
            <RowTemplate>
                <td>@context.UserName</td>
                <td>@context.LogTime</td>
                <td>@context.SQL</td>
            </RowTemplate>
            <SearchTemplate>
                <LgbInputText ColumnClass="col-12" @bind-Value="@context.UserName" maxlength="50" />
            </SearchTemplate>
        </Table>
    </div>
</div>
