@model AdminModel
@{
    Layout = "_Bootstrap";
}
@section css {
    <environment include="Development">
        <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
        <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/sweetalert2.css" rel="stylesheet" />
        <link href="~/lib/overlayscrollbars/OverlayScrollbars.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
        <link href="~/lib/nprogress/nprogress.min.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" />
        <link href="~/lib/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("css", false)
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/overlayscrollbars/jquery.overlayScrollbars.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/lib/sweetalert/sweetalert2.js"></script>
        <script src="~/lib/nprogress/nprogress.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/overlayscrollbars/jquery.overlayScrollbars.min.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/lib/sweetalert/sweetalert2.min.js"></script>
        <script src="~/lib/nprogress/nprogress.min.js"></script>
    </environment>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/common-scripts.js" asp-append-version="true"></script>
    @RenderSection("javascript", false)
    <script src="~/js/log.js" asp-append-version="true"></script>
}
@await Html.PartialAsync("Navigator")
<section id="main-content" class="main-content @(Model.ShowCardTitle ? "" : "no-card-header")">
    <input id="lockScreenPeriod" type="hidden" asp-condition="@Model.EnableAutoLockScreen" value="@Model.LockScreenPeriod" />
    <div class="main-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Admin/Index"><i class="fa fa-home"></i>首页</a></li>
            <li class="breadcrumb-item d-none"></li>
        </ol>
    </div>
    @RenderBody()
</section>
