@model ModelBase
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="@Url.Content(Model.WebSiteIcon)" type="image/x-icon" />
    <link rel="shortcut icon" href="@Url.Content(Model.WebSiteIcon)" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/favicon.png" />
    <title>@ViewBag.Title</title>
    @RenderSection("css", false)
    <!--[if lt IE 10 ]>
        <link href="../css/IE8.css" rel="stylesheet" />
    <![endif]-->
    <environment include="Staging,Production">
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?ce3c9cfb729226f39dd330899489086d";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </environment>
</head>
<body class="trans-mute">
    <!--[if lt IE 10 ]>
    <div id="ieAlert" class="alert alert-danger alert-dismissible">
        <div>当前浏览器版本太低，不支持本系统，请升级到至少IE10 <a href="../browser/IE10.exe" target="_blank">本地下载</a> <a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" target="_blank">微软下载</a>，或者使用Chrome浏览器 <a href="../browser/ChromeSetup.exe" target="_blank">本地下载</a></div>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
    </div>
    <![endif]-->
    @RenderBody()
    <a id="pathBase" href="~/" hidden></a>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
    </environment>
    @RenderSection("javascript", false)
</body>
</html>