@model NavigatorBarModel
<aside class="@(Model.ShowSideBar ? "" : "collapsed")">
    <div class="bg"></div>
    <div class="nav-brand justify-content-center">
        <a href="#">
            <img src="@Url.Content(@Model.WebSiteLogo)" />
            <span>@Model.Title</span>
        </a>
    </div>
    <div class="nav-header flex-fill align-items-center">
        <a href="~/Admin/Profiles">
            <img src="@Url.Content(Model.Icon)" />
            <span class="username d-inline-block text-truncate flex-fill">@Model.DisplayName</span>
        </a>
    </div>
    <!-- sidebar menu start-->
    <div class="sidebar">
        <ul class="nav-sidebar nav nav-pills flex-column flex-nowrap">
            @await Html.PartialAsync("Sidebar", Model)
        </ul>
    </div>
    <!-- sidebar menu end-->
</aside>