@model LockModel
@{
    ViewBag.Title = "系统锁屏";
    Layout = "_Layout";
}
@section css {
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    <link href="~/css/lock.css" rel="stylesheet" />
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>
    <script src="~/lib/longbow/longbow.common.js"></script>
    <script src="~/js/lock.js"></script>
}
<div class="lock-wrapper">
    <div class="lock-box text-center">
        <div id="time"></div>
        <img alt="lock avatar" src="@Url.Content(Model.Icon)" />
        <h1>@Model.DisplayName</h1>
        <span class="locked">系统已锁定</span>
        <form role="form" class="form-inline justify-content-center @Model.AuthenticationType" method="post" autocomplete="off" action="?ReturnUrl=@Model.ReturnUrl">
            <input type="hidden" name="username" value="@Model.UserName" />
            <input type="hidden" name="authType" value="@Model.AuthenticationType" />
            <div class="form-group Cookies">
                <div class="input-group">
                    <input type="password" name="password" class="form-control" value="" autocomplete="off" placeholder="密码" />
                    <div class="input-group-append">
                        <button class="btn btn-lock" type="submit">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group Mobile">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-lock"></span>
                        </div>
                    </div>
                    <input type="text" id="smscode" class="form-control" data-toggle="tooltip" disabled value="" placeholder="验证码" maxlength="4" title="请输入验证码" />
                    <div class="input-group-append">
                        <button type="button" id="btnSendCode" class="btn btn-lock btn-sms" data-method="send" data-toggle="tooltip" title="点击发送验证码">发送验证码</button>
                    </div>
                </div>
            </div>
            <div class="form-group OAuth">
                <a href="~/Account/Login" class="btn btn-login">重新登录</a>
            </div>
        </form>
    </div>
</div>
